 <h1>My tasks</h1>

<% @tasks.each do |task| %>
   <% if task.completed == false %>
   <input type="checkbox">
   <% else %>
      <input type="checkbox" checked>
  <% end %>
  <%=task.title%><br>
  <%= link_to "More details", tasks_path(task) %><br><br>
<% end %>



